---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import SecondSection from "../components/SecondSection.astro";
import ThirdSection from "../components/ThirdSection.astro";
import FourthSection from "../components/FourthSection.astro";
import FifthSection from "../components/FifthSection.astro";
import SixthSection from "../components/SixthSection.astro";
import SeventhSection from "../components/SeventhSection.astro";

const coversStyles = "w-full h-full object-cover absolute -z-10"
const sectionStyles = "h-screen relative"
---

<Layout title="Quantum - Mentoring">
  <main class="w-full font-primary">
    <HeroSection coversStyles={coversStyles} sectionStyles={sectionStyles}/>
    <SecondSection coversStyles={coversStyles} sectionStyles={sectionStyles}/>
    <ThirdSection coversStyles={coversStyles} sectionStyles={sectionStyles}/>
    <FourthSection coversStyles={coversStyles} sectionStyles={sectionStyles}/>
    <FifthSection coversStyles={coversStyles} sectionStyles={sectionStyles}/>
    <SixthSection coversStyles={coversStyles} sectionStyles={sectionStyles}/>
    <SeventhSection coversStyles={coversStyles} sectionStyles={sectionStyles}/>
  </main>
</Layout>
